.btn {
    font-family: 'Mulish';
    display: flex;
    align-items: center;
    text-align: left;
    padding: 18px 24px;
    width: 100%;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #a4a6b3;
    border: none;
    .svg-icon {
        margin-right: 10px;
        padding-right: 2px;
        fill:    #9FA2B4;
        opacity: 0.4;
    }
    
  
    &:hover {
        background: rgba(159, 162, 180, 0.08);
        border-left: 3px solid #fff;
        
            .svg-icon{
                fill: #DDE2FF;  
                opacity: 1;
            }

        .btn-title {
            color: #dde2ff;
        }
    }
    
   
    
}