.sidebar { 
    background: #363740;
    min-height: 100vh;
    // .sidebar-btn{
        
        // }
        .logo{
            padding: 41px 43px 63px 72px;
            font-style: normal;
            font-weight: 700;
            font-size: 19px;
            line-height: 24px;
            letter-spacing: 0.4px;
            color: #A4A6B3;
            opacity: 0.7;
        }
        
        
        .top-btn{
            padding-bottom: 34px;
            border-bottom: 1px solid #a4a6b3;
        }
        
        .bottom-btn{
            padding-top: 34px;
        }
        
        
        .logo-holder{
            padding: 37px 43px 59px 32px;
        }
        
        .sitebar-text{
            margin-left: 12px;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 700;
            font-size: 19px;
            line-height: 24px;
            letter-spacing: 0.4px;        
            color: #A4A6B3;
            opacity: 0.7;
        }
        
        
        
        
    }
    